
body{
    background-color: rgb(224, 232, 137, 0.872);
    background-size: 100% 100%;
}

a:link{
    text-decoration: none;
    font-size: 10vh;
}

p {
    font-size: 20vh;
}

div a{
    display:block;
    animation: weeee 5s linear infinite alternate;
  }

 div p {
    display:block;
    animation: weeee 3s linear infinite alternate;
  }
  
  @keyframes weeee {
     0% { color: rgb(0, 0, 0); }
    25% { color: blue; }
    50% { color: green; }
    75% { color: yellow; }
   100% { transform: translateX(101%); color: purple; }
  }

